{% extends '../website-base.html' %} 
{% load static %}
<!--para importar boostrap y el jquery-->

{% block pagetitle %}Index{% endblock %}

{% block contenido %}


<div >
    <h1> Estacionamientos afiliados </h1>  
</div>
<hr> 
 
          <div class="card">
            <article class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
                <p>
                
    			<img src="{% static 'ac_seguridad/images/plaza-altamira.jpg' %}" class="img-responsive center-block">
    		
    	       </p>
            </article>
            
            <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2> <strong>Plaza Altamira </strong> </h2>
                <br/><br/>
                <p>
                      
                     <br/>
                    <strong>  Dirección: </strong>
                    Plaza Fracia, altamira.  
                      1060, Caracas Venezuela
                      <br/><br/>
                      
                       <strong> <em>Condiciones de entrada: </em> </strong>
                      <br/><br/>
                      <ol>
                          <li>No se hace responsable por objetos dejados en el auto</li>
                          <li> Estadías cortas</li>
                          
                      </ol>
                      
                       <strong> <em> Horario </em> </strong>
                      <br/>
                      <ul>
                      <li>lunes a viernes 8AM a 8PM</li>
                      <li>Sabado 8AM a 5PM</li>
                      <li>Domingo 10AM a 5PM</li>
                      </ul>
                      
                </p>  
            </aside>
            </div>
            
  <hr/>           
 <!--otra fila -->
            
            
        
          <div class="card">
            <article class="col-xs-12 col-sm-9 col-md-9 col-lg-8 ">
                <p>
                
    			<img src="{% static 'ac_seguridad/images/Ucab-Campus2.jpg' %}" class="img-responsive center-block">
    		
    	       </p>
            </article>
            
            <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
                
                <h2> <strong>UCAB </strong> </h2>
                <br/><br/>
                <p>
                      
                     <br/>
                    <strong>  Dirección: </strong>
                    Avenida Teherán
                      1050, Caracas Venezuela
                      <br/><br/>
                      
                       <strong> <em>Condiciones de entrada: </em> </strong>
                      <br/><br/>
                      <ol>
                          <li>No se hace responsable por objetos dejados en el auto</li>
                          <li> Estadías cortas</li>
                          <li> No se permite pernocta</li>
                          <li> Destinado para personal ucabista</li>
                      </ol>
                      
                       <strong> <em> Horario </em> </strong>
                      <br/>
                      <ul>
                      <li>lunes a viernes 8AM a 8PM</li>
                      <li>Sabado 8AM a 5PM</li>
                      <li>Domingo 10AM a 5PM</li>
                      </ul>
                      
                      </p>  
            </aside>
            </section>
           
            
        
        </div>

{% endblock %}