{% extends '../website-base.html' %} 
{% load static %}
<!--para importar boostrap y el jquery-->

{% block pagetitle %}Index{% endblock %}

{% block contenido %}


<header>
    <div class="container">
      <h1> Contáctanos </h1>  
        
    </div>
</header>    
<div class="container">
            
  <hr/>           

  <section class="main row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                <p>
                <h2>Redes sociales</h2> </br>
    		      <img src="{% static 'ac_seguridad/images/iconos/Facebook.png'%}"  width= "100" height="100"class="img-responsive">
                <h3>Facebook</h3>
                <h4>Anabel Rincón</h4>
    		    <h4>Christian Escalona</h4>
                </p>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                <p>
                <h2>Teléfonos</h2></br>
                <img src="{% static 'ac_seguridad/images/iconos/phone.png'%}" width= "100" height="100" class="img-responsive">
    		    <h3>Llámanos</h3>
    		    <h4>Anabel Rincón </h4>                                                                  
    		    <h5>+58414-5555555 </h5>                              
    		    <h4>Christian Escalona</h4> 
    		    <h5> +58414-5555555</h5>
    	       </p>
            </article>
            
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                <p>
                    <h2>Ubícanos</h2> </br>
                    <img src="{% static 'ac_seguridad/images/iconos/map.png'%}" width= "100" height="100"  class="img-responsive">
    		        <h3>Dirección:</h3>
    		 	    <h5>Calle 1, con calle 2 en Urbanización 3. </br> Caracas, Venezuela 1050 </h5>                                    
    		    </p>
            </article>
            
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                <p>
                <h2>Escríbenos</h2></br>
               	<img src="{% static 'ac_seguridad/images/iconos/email.png'%}" width= "100" height="100" class="img-responsive">
    		    <h3>Correo:</h3>
    		 <h4>acseguridad.256@gmail.com </h4>  
    	       </p>
            </article>
            </section>
          
        
    </div>

{% endblock %}