{% extends '../area-empresas-base.html' %}
{% load static %}
{% block title %}Área Empresas{% endblock %}

{% block area_empresas %}

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
	<img src="{% static 'ac_seguridad/images/iconos/datos_personales2.png' %}"  width= "400" height="400" class="img-responsive center-block">
</div>	

<!--datos del estacionamiento-->
<div class ="col-xs-12 col-sm-6 col-md-6 col-lg-8 ">
  <h1> Historial del establecimiento</font></h1>
   <h2>RIF:</h2>
  <li>{{ estacionamiento }}</li>
  <h2>total carros en el estacionamiento</h2>
  <ul>
    <li>{{ cantidad}}</li>
  </ul>
  <div class ="col-xs-5 col-xs-offset-1">  
      <h3>Carros registrados</h3>
    <ul>
      <li>{{ cantidad_r}}</li>
    </ul></div>
    <div class ="col-xs-6">   
      <h3>No registrados</h3>
    <ul>
      <li>{{ cantidad_nr}}</li>
    </ul></div>
</div>

<!--Tabla de vehiculos en el estacionamiento-->
<div class ="col-xs-11">    
  
  <h2>Vehiculos actualmente dentro del establecimiento</h2>
  <table class="table table-responsive table-striped">
    <tr>
		  <th>Placa</th>
		  <th>Ticket</th>
			<th>hora de entrada</th>
		</tr>
   
   
    {% if vehiculos_en|length > 0 %}
    {% for ticket in vehiculos_en %}
    <tr>  
                <td>{{ ticket.placa }} </td>
                <td>{{ ticket.numero_ticket }}</td>
                <td>{{ ticket.hora_entrada }}</td>
		          {% endfor %}
		</tr>
          {% else %}
            <p>No se encuentran en el establecimiento</p>
        {% endif %}
		
  </table>
</div>

<!--Tabla de egresos del estacionamiento-->
<div class ="col-xs-12">    
  
  <h2>Historial de egresos del establecimiento</h2>

  <table class="table table-responsive table-striped">
  
		<tr>
			
			<th>Placa</th>
			<th>Ticket</th>
			<th>hora de entrada</th>
			<th>hora de salida</th>
		
		</tr>
   
  {% if vehiculos_orden|length > 0 %}
    {% for ticket in vehiculos_orden %}
      <tr>
        <td>{{ ticket.placa }}</td>
        <td>{{ ticket.numero_ticket }}</td>
        <td>{{ ticket.hora_entrada }}</td>
        <td>{{ ticket.hora_salida }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>No han egresado vehículos</p>
  {% endif %}   
</table>
</div>

<!--Historial de alertas-->
    
    <!--numero_alertas = models.AutoField(primary_key = True) # Deberiamos quitar esto o cambiarlo a IntegerField porque aunque se borre la BD igual queda el contador.-->
    <!--usuario = models.CharField(max_length=50, null = True)-->
    <!--vehiculo = models.CharField(max_length=25)-->
    <!--estacionamiento = models.ForeignKey(Estacionamiento, on_delete=models.CASCADE, null=True) #TODO: set null=False-->
    <!--tipo = models.CharField(max_length=200)-->
    <!--fecha = models.DateTimeField('-->

<div class ="col-xs-11 ">    
  
  <h2>Historial de alertas</h2>

  <table class="table table-responsive table-striped">
  <tr>
    <th>Tipo</th>
	  <th>fecha</th>
		<th>usuario</th>
	</tr>
   
    {% if lista_alertas|length > 0 %}
      {% for alerta in lista_alertas %}
        <tr>
          <td>{{ alerta.tipo }}</td>
          <td>{{ alerta.fecha }}</td> 
          <td>{{ alerta.usuario  }}</td>
            {% endfor %}
        </tr>
          {% else %}
          <p>No se han registrado alertas</p>
        {% endif %}
  </table>  
</div>

{% endblock %}