{% extends '../area-personal-base.html' %}

{% block title %}Área Personal{% endblock %}

{% block area_personal %}

  <h2>Datos personales</h2>
    <li>{{ usuario }}</li>
  <h2>Tus vehículos</h2>
    {% if vehiculos_usuario|length > 0 %}
      <ul>
        {% for vehiculo in vehiculos_usuario %}
          <li>{{ vehiculo }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Usted no tiene vehículos registrados en el sistema</p>
    {% endif %}
    
    
  <a href="{% url 'registro_vehiculo' %}">Registre sus vehículos</a>
  
  <h2>Tus tickets recientes</h2>
    {% if tickets_usuario|length > 0 %}
      <ul>
        {% for ticket in tickets_usuario %}
          <li>{{ ticket }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Usted no ha ingresado a ningún estacionamiento recientemente.</p>
    {% endif %}
    
{% endblock %}