{% extends '../area-empresas-base.html' %}
{% load static %}
{% block title %}Área Empresas{% endblock %}

{% block area_empresas %}

<def class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
	<img src="{% static 'ac_seguridad/images/iconos/datos_personales2.png' %}"  width= "400" height="400" class="img-responsive center-block">
</def>	

<!--Tabla que muestra los carros actualmete dentro dele estacionamiento-->


<def class ="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
  <h1> <font color= "#FF69B4"> Historial Personal</font></h1>
  <h3>Vehiculos actualmente dentro del establecimiento</h3>
  <table class="table table-responsive">
      <tr>
  		  <thead>
  			<th>Placa</th>
  			<th>Estacionamiento</th>
  			<th>Ticket</th>
  			<th>Fecha de ingreso</th>
  			</thead>
  		</tr>
     
     <tr>
  			<th><ol><ul>
    			   {% if lista_vehiculo|length > 0 %}
                {% for carro in lista_vehiculo %}
                <li>{{ carro.placa }}</li>
              {% endfor %}
            </ul>
            {% else %}
              <p>Sin vehiculos en establecimientos</p>
          {% endif %}
  			</ol></th>
  			
  			<th>
  			{% if lista_vehiculo|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo %}
              <li>{{ carro.rif }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  			<th>
  			{% if lista_vehiculo|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo %}
              <li>{{ carro.numero_ticket }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  			<th>
  			{% if lista_vehiculo|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo %}
              <li>{{ carro.hora_entrada }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  		</tr> 		
  </table>
</def>
<!--Tabla para mostrar su historial de vehiculos que ingresaron al estacionamiento-->

<def class ="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <h3>Historial de egreso de vehiculos</h3>
  <table class="table table-responsive">
      <tr>
  		  <thead>
  			<th>Placa</th>
  			<th>Estacionamiento</th>
  			<th>Ticket</th>
  			<th>Fecha de ingreso</th>
  			<th>Fecha de salida</th>
  			</thead>
  		</tr>
     
     <tr>
  			<th><ol><ul>
    			   {% if lista_vehiculo2|length > 0 %}
                {% for carro in lista_vehiculo2 %}
                <li>{{ carro.placa }}</li>
              {% endfor %}
            </ul>
            {% else %}
              <p>Sin egresos registrados</p>
          {% endif %}
  			</ol></th>
  			
  			<th>
  			{% if lista_vehiculo2|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo2 %}
              <li>{{ carro.rif }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  			<th>
  			{% if lista_vehiculo2|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo2 %}
              <li>{{ carro.numero_ticket }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  			<th>
  			{% if lista_vehiculo2|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo2 %}
              <li>{{ carro.hora_entrada }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  				<th>
  			{% if lista_vehiculo2|length > 0 %}
          <ul>
            {% for carro in lista_vehiculo2 %}
              <li>{{ carro.hora_salida }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p>-</p>
          {% endif %}
  			</th>
  		</tr> 		
  </table>
</def>

{% endblock %}