{% extends '../area-personal-base.html' %}

{% block title %}Área Personal{% endblock %}
{% load static %}
{% block area_personal %}

<header>
    <div class="container">
     <p><strong> <h1>Datos personales</h1></strong></p>
     <h3>Bienvenida: {{ usuario.nombre}} </h3>
 	
    </div>
</header>    
<def class="col-xs-12 col-sm-1 col-md-6 col-lg-4 ">
	<img src="{% static 'ac_seguridad/images/iconos/datos_personales2.png' %}"  width= "400" height="400" class="img-responsive center-block">
</def>	

<def class ="col-xs-12 col-sm-2 col-md-6 col-lg-2">
 
 	<h3>Nombre</h3>
  	<li>{{ usuario.nombre}}</li>
 	<h3>Apellido</h3>  
   	<li>{{ usuario.apellido}}</li>
   	
  <h3>Cédula</h3>  
   	<li>{{ usuario.cedula}}</li>
</def>
<def class = "col-xs-12 col-sm-10 col-md-6 col-lg-6 ">
    <h3>Vehiculos registados</h3>
     <table class="table table-responsive table-striped">
        <tr>
    			<th><center>Placa</center></th>
    			<th><center>Modelo</center></th>
    			<th><center>Marca</center></th>
    			<th><center>Año</center></th>
        </tr>
        
        {% if lista_vehiculo|length > 0 %}
            {% for carro in lista_vehiculo %}
                <tr>
                <td><center>{{ carro.placa }}</center></td>
                <td><center>{{ carro.modelo }}</center></td>
                <td><center>{{ carro.marca }}</center></td>
                <td><center>{{ carro.year }}</center></td>
              </tr>
            {% endfor %}
        {% else %}
            <p>No han egresado vehículos</p>
         {% endif %}   
</table>
</div>

{% endblock %}