{% extends '../area-personal-base.html' %}
{% load static %}
{% block title %}Área Personal{% endblock %}

{% block area_personal %}
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
  <p>
    <a href="{% url 'perfil_personal' %}">
    <img src="{% static 'ac_seguridad/images/iconos/car.png'  %}" class="img-responsive center-block">
   </a>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
   <h2>Registro de vehículos.</h2> 
   </br>
  
  <h3>Datos del vehículo.</h3>
  <form method="post">
    <div class="form-group">
        {% csrf_token %}
        {{ vehiculo_form.as_p }}
        <!--<button type="submit">Sign up</button>-->
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
</br></br></br></br>

<h3>Registrados</h3>
 
  <table class="table table-responsive">
    <tr><thead>
  	    <th>Placa</th>
  	</thead></tr>
         {% if lista_vehiculo|length > 0 %}
            {% for carro in lista_vehiculo %}
                <tr>
                    <td><center>{{ carro.placa }}</center></td>
                </tr>
        	{% endfor %}
        {% else %}
              <p>Sin vehiculos registrados, por favor registre su primer vehículo</p>
          {% endif %}
  	</table>		
</div> 
{% endblock %}